@import "../variables";
@import "../mixins";

/**
 * Extended searchbox component
 */
.mdle-searchbox {
    position: relative;
    margin-right: 1em;
    margin-left: 1em;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}

    .mdle-searchbox__search-button {
        border-radius: 0;
        padding-right: 1em;
        padding-left: 1em;
    }

    .mdle-searchbox__input {
        width: 259px;
        background: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
    }

      /* Placeholder color (if not set it shown as grey) */
      .mdle-searchbox__input::-webkit-input-placeholder {
         color: $color-primary-contrast;
      }

      .mdle-searchbox__input:-moz-placeholder {
         color: $color-primary-contrast;
      }

      .mdle-searchbox__input::-moz-placeholder {
         color: $color-primary-contrast;
      }

      .mdle-searchbox__input:-ms-input-placeholder {
         color: $color-primary-contrast;
      }

    .mdle-searchbox__advanced-search-button {
        position: relative;
        padding-right: 0;
        padding-right: 0;
        border-radius: 0px;
    }

    .mdle-searchbox__advanced-search-dialog {
        padding-left: 0;
        padding-right: 0;
        color: rgba(0, 0, 0, 0.84);
    }

      .mdle-searchbox__advanced-search-dialog__title {
          height: 48px;
          line-height: 48px;
          padding-left: 1em;
          padding-right: 1em;
          color: rgba(0, 0, 0, 0.84);
          font-size: 18px;
          font-weight: bold;
      }

      .mdle-searchbox__advanced-search-dialog__content {
          padding-right: 0.5em;
          padding-left: 0.5em;
      }

      .mdle-searchbox__advanced-search-dialog__buttons {
          padding-top: 1em;
          padding-right: 0.5em;
          padding-bottom: 0;
          text-align: right;
      }

        .mdle-searchbox__advanced-search-dialog__buttons .mdl-button {
            vertical-align: text-bottom;
        }

    .mdle-searchbox__advanced-search-dialog__content  .mdl-textfield__input,
    .mdle-searchbox__advanced-search-dialog__content  .mdl-textfield__label,
    .mdle-searchbox__advanced-search-dialog__content  .mdl-selectfield,
    .mdle-searchbox__advanced-search-dialog__content  .mdl-selectfield__menu,
    .mdle-searchbox__advanced-search-dialog__content  .mdl-selectfield__label
    {
        font-size: 14px;
    }
