
/* cabecera transparente (no funciona del todo )*/
.mdl-layout__header,
.mdl-layout__header .mdl-layout__drawer-button {}

.mdl-layout--transparent-header  .mdl-layout__header {
    position: relative;
    top: 0;
    left: 0;
}

.mdl-layout--transparent-header  .mdl-layout__header::after {
    content: "";
    background: url('./images/background.jpg') repeat-x;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.mdl-content-center {
  margin: 0 auto;
}



.mdl-list__item  .mdl-avatar {
    float: left;
    margin-right: 0.5em;
}

.mdl-data-table__cell--actions {
    color: rgb(0,0,0);
    color: rgba(0,0,0,.54);
}

.mdl-navigation__separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

tr[data-mdl-href] {
    cursor: pointer;
}

.mdl-layout-title__separator {
    padding-left: 0.5em;
    padding-right: 0.5em;
}



    .mdl-searchbox__dropdown-menu {
        padding-left: 0;
        padding-right: 0;
        color: rgba(0, 0, 0, 0.84);
    }

    .mdl-searchbox__dropdown__menu__item--title.mdl-menu__item[data-mdl-disabled], .mdl-searchbox__dropdown__menu__item--title.mdl-menu__item[disabled] {
        padding-left: 1em;
        padding-right: 1em;
        color: rgba(0, 0, 0, 0.84);
        font-weight: bold;
    }

    .mdl-searchbox__dropdown__menu__item--content {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .mdl-searchbox__dropdown__menu__item--buttons {
        padding-top: 1em;
        padding-right: 0.5em;
        padding-bottom: 0;
        text-align: right;
    }

    .mdl-menu__item.mdl-searchbox__dropdown__menu__item--buttons  .mdl-button {
        vertical-align: text-bottom;
    }

    .mdl-searchbox__dropdown-menu  .mdl-textfield__input,
    .mdl-searchbox__dropdown-menu  .mdl-textfield__label,
    .mdl-searchbox__dropdown-menu  .mdl-selectfield,
    .mdl-searchbox__dropdown-menu  .mdl-selectfield__menu,
    .mdl-searchbox__dropdown-menu  .mdl-selectfield__label
    {
        font-size: 14px;
    }


/* Para el menu del botón de ordenar
    que tiene que aparecer de cierta manera por
    el icono del "check" que aparece en el campo
    que actualmente está ordenada la lista */
.mdl-menu--for-button-sort > .mdl-menu__item {
    padding-left: 3em;
    padding-right: 2em;
}

.mdl-menu--for-button-sort > .mdl-menu__item > .material-icons {
    position: absolute;
    left: 0.5em;
    line-height: inherit;
}
