/** site specific **/

/**
  * Class for make header transparent and put a background image
  */
.mdl-layout__header--transparent-image {
  background: linear-gradient(rgba(139, 195, 74, 0.97), rgba(139, 195, 74, 0.97)),
              url('./images/toolbar-header-background.jpg') repeat-x;
}

.app-list-detail--employee {
  width:600px;
}

.app-employee-photo {
  width: 100%;
  border-radius: 100%;
}

/** mdl customized (common)*/

/* list detail (to appply in dialog or in a page */
.mdl-list-detail {
  padding: 0;
}

  .mdl-list-detail .mdl-grid {
    padding:0;
  }

  .mdl-list-detail__header {
    position: relative;
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
    .mdl-list-detail__header__title {
      font-size: 20px;
      font-weight: bold;
    }

    .mdl-list-detail__header__actions {
      position: absolute;
      right:20px;
      top:20px;
      color: rgb(0,0,0);
      color: rgba(0,0,0,.54);
    }

  .mdl-list-detail__content {
    padding: 16px;
  }

    .mdl-list-detail__content .mdl-textfield {
      width:100%;
    }


/* para que en móvil tome todo el espacio del contenido */
.mdl-layout__content {
  padding: 0;
}
/* @media (min-width: $grid-desktop-tablet) {*/
@media (min-width: 840px) {
  .mdl-layout__content {
      padding: 24px;
  }
}

/* utils */
.mdl-align-center  {
  margin: 0 auto;
}


/* data-table */
/* title */





/* mdl-menu */

  .mdl-textfield, .mdl-textfield__input {
    font-size: 1em;
  }

  /**
   * corrige el fallo de que en el menu el label del radio sale con un
   * tamaño de 16px, en vezde 14px
   */
  .mdl-menu .mdl-radio {
    font-size: 1em;
  }

/* mdl-dialog */
.mdl-dialog {
  max-width: auto; /* Allow dialog be more long */
}

/* poner en scss @media (min-width: $grid-tablet-breakpoint) { */
.mdl-dialog--medium {
  min-width: 25em;
}


  .mdl-dialog__title {
    padding: 10px; /*14px is in dialog polyfill */
    font-size: 20px;
    font-weight: bold;
  }

  .mdl-dialog__content {
    padding: 16px; /*14px is in dialog polyfill */
    font-size: 14px;
  }

  .mdl-dialog__content.mdl-dialog__content--with-list {
    padding: 0; /*14px is in dialog polyfill */
  }

  .mdl-dialog .mdl-list .mdl-list__item {
  }

  .mdl-dialog .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 16px;
  }

  .mdl-dialog--list-detail .mdl-dialog__content {
    with:600px;
  }

/* mdl-list */

.mdl-list__item[data-mdl-href] {
    cursor: pointer;
}

.mdl-list__item[data-mdl-href]:hover {
  background-color: #eeeeee;
}



/* mdl-layout */



/* mdl-selectfield */
.mdl-selectfield {
  font-size: 1em;
}
