/** site specific **/

/**
  * Class for make header transparent and put a background image
  */
.mdl-layout__header--transparent-image {
  background: linear-gradient(rgba(139, 195, 74, 0.97), rgba(139, 195, 74, 0.97)),
              url('./images/toolbar-header-background.jpg') repeat-x;
}


.app-list-detail--employee {
  width:600px;
}

.app-employee-photo {
  width: 100%;
  border-radius: 100%;
}

/** mdl customized (common)*/

/** elements */
html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: rgb(242, 242, 242);
}

/* list detail (to appply in dialog or in a page */
.mdl-list-detail {
  padding: 0;
}

  .mdl-list-detail .mdl-grid {
    padding:0;
  }

  .mdl-list-detail__header {
    position: relative;
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
    .mdl-list-detail__header__title {
      font-size: 20px;
      font-weight: bold;
    }

    .mdl-list-detail__header__actions {
      position: absolute;
      right:20px;
      top:20px;
      color: rgb(0,0,0);
      color: rgba(0,0,0,.54);
    }

  .mdl-list-detail__content {
    padding: 16px;
  }

    .mdl-list-detail__content .mdl-textfield {
      width:100%;
    }




/* layout navigation */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-left: 16px;
  padding-right: 16px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--sublink {
  padding-left: 56px;
}

/* utils */
.mdl-align-center  {
  margin: 0 auto;
}

/* data-table */
/* title */
  .mdl-data-table__head__title {
    padding-left: 24px;
    padding-right: 24px;
    height: 64px;
    color: rgba(0,0,0,.87);
  }

  .mdl-data-table th.mdl-data-table__head__title__row {
    padding-top: 20px;
    padding-bottom: 22px;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    color: inherit;
  }


  .mdl-data-table__head__title__row__text  {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .mdl-data-table__head__title__row__filters  {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 6px;
  }

/* For make the entire tr "clickeable" */
  tr[data-mdl-href] {
      cursor: pointer;
  }

  tr[data-mdl-href]:hover {
    background-color: #eeeeee;
  }

  /* data table cell for images */
  .mdl-data-table__cell--img > img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
  }

  /* data table cell for actions on the row */
  .mdl-data-table__cell--actions {
      color: rgb(0,0,0);
      color: rgba(0,0,0,.54);
  }

  .mdl-data-table__foot {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
  }

    .mdl-data-table__foot__result-per-page-number {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 40px;
      text-align: rigth;
    }

    .mdl-data-table__foot__result-per-page-select-button {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 24px;
      min-width: 24px;
      height: 24px;
      text-align: left;
    }

      .mdl-data-table__foot__result-per-page-select-button .mdl-button--icon {
        display: inline-block;
        margin: -6px;
        padding: 0;
        width: 24px;
        min-width: 24px;
        height: 24px;
      }

      .mdl-data-table__foot__results-index {
        display: inline-block;
        margin-left: 32px;
        margin-right: 32px;
        padding: 0;
      }

      .mdl-data-table__foot__prev-page-button {
        display: inline-block;
        margin-left: 0;
        margin-right: 8px;
        padding: 0;
      }

      .mdl-data-table__foot__next-page-button {
        display: inline-block;
        margin: 0;
        padding: 0;
      }




/* mdl-menu */

  .mdl-textfield, .mdl-textfield__input {
    font-size: 1em;
  }

  .mdl-menu .mdl-radio {
    font-size: 1em;
  }
  
/* mdl-dialog */
.mdl-dialog {
  max-width: auto; /* Allow dialog be more long */
}
  .mdl-dialog__title {
    padding: 10px; /*14px is in dialog polyfill */
    font-size: 20px;
    font-weight: bold;
  }

  .mdl-dialog__content {
    padding: 16px; /*14px is in dialog polyfill */
    font-size: 14px;
  }

  .mdl-dialog__content.mdl-dialog__content--with-list {
    padding: 0; /*14px is in dialog polyfill */
  }

  .mdl-dialog .mdl-list .mdl-list__item {
  }

  .mdl-dialog .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-right: 16px;
  }

  .mdl-dialog--list-detail .mdl-dialog__content {
    with:600px;
  }

/* mdl-list */

.mdl-list__item[data-mdl-href] {
    cursor: pointer;
}

.mdl-list__item[data-mdl-href]:hover {
  background-color: #eeeeee;
}

/* mdl-searbox */

.mdl-searchbox__advanced-search-dialog__title {
  font-size: 19px;
}

/* mdl-layout */

.mdl-layout__drawer__header__user-photo {
  position: absolute;
  left: 1em;
  top: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

/* mdl-selectfield */
.mdl-selectfield {
  font-size: 1em;
}
