  <div class="mdl-cell  mdl-cell--2-col">
          
          <!-- /.mdl-selectfield -->
        </div>

        <div class="mdl-cell mdl-cell--2-col">
          
<!--               <a href="tel:375478" id="data-table__phone-button" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">phone</i>
          </a> -->
        </div>
        
        <div class="mdl-cell  mdl-cell--2-col-phone">
         
        </div>
      </div>
      
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col-phone">
          <div class="mdl-textfield  mdl-js-textfield  mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="employee-telefono" value="955455478">
            <label class="mdl-textfield__label" for="employee-telefono">Telef. externo</label>
          </div>
<!--               <a href="tel:375478" id="data-table__phone-button" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">phone</i>
          </a> -->
        </div>
        
        <div class="mdl-cell  mdl-cell--2-col-phone">
          <div class="mdl-textfield  mdl-js-textfield  mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="employee-telefono-movil" value="67757665">
            <label class="mdl-textfield__label" for="employee-telefono-movil">Móvil externo</label>
          </div> 
        </div>
      </div>
      
      <div class="mdl-grid">
         <div class="mdl-cell  mdl-cell--4-col-phone">
           
        </div>
      </div>



<div class="mdl-grid">
        <div class="mdl-cell  mdl-cell--2-col-phone">
          
        </div>
        <div class="mdl-cell mdl-cell--2-col-phone">
          
        </div>
      </div>
        
        <div class="mdl-grid">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--11-col">
              <div class="mdl-textfield  mdl-js-textfield  mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="searchbox__dropdown__puesto" value="pepito.flores.garcia@juntadeandalucia.es">
                <label class="mdl-textfield__label" for="searchbox__dropdown__input-puesto">Email</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col  mdl-cell--middle">
              <button id="button-detail-email" class="mdl-button mdl-js-button mdl-button--icon  mdl-button--primary">
                <i class="material-icons">email</i>
              </button>
              <div class="mdl-tooltip" for="button-detail-email">
                Enviar correo electrónico a esta dirección
                <br> (abrirá su programa de correo)
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
          
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          
        </div>
      </div>